<ul>
      {%- if site.chrome -%}<li><a href="{{site.download}}">Install from Chrome Store</a></li>{%- endif -%}
      {%- if site.edge -%}<li><a href="{{site.licence}}">Install from Edge Store</a></li>{%- endif -%}
      {%- if site.privacy -%}<li><a href="{{site.demo}}">Privacy Policy</a></li>{%- endif -%}
      {%- if site.download -%}<li><a href="{{site.download}}">Download</a></li>{%- endif -%}
      {%- if site.licence -%}<li><a href="{{site.licence}}">Licencing</a></li>{%- endif -%}
      {%- if site.demo -%}<li><a href="{{site.demo}}">Demo</a></li>{%- endif -%}
</ul>
