<ul>
  <li><a href="{{site.baseurl}}/">Home</a></li>
  <li>Install
    <ul>
      <li><a href="{{site.chrome}}">as Chrome Extension</a></li>
      <li><a href="{{site.edge}}">as Edge Add-On</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/pages/FAQs">FAQs (Frequently asked questions)</a>
<ul>
      <li><a href="{{site.baseurl}}/pages/FAQs#how-does-cheerpj-applet-runner-work">How does CheerpJ Applet Runner work?</a></li>
      <li><a href="{{site.baseurl}}/pages/FAQs#is-any-information-sent-to-the-cloud-by-the-cheerpj-applet-runner">Is any information sent to the cloud by the CheerpJ Applet Runner?</a></li>
      <li><a href="{{site.baseurl}}/pages/FAQs#can-i-report-applets-that-are-not-working">Can I report applets that are not working?</a></li>
      <li><a href="{{site.baseurl}}/pages/FAQs#is-the-cheerpj-applet-runner-free">Is the CheerpJ Applet Runner free?</a></li>
</ul>  
</li>
</ul>
